* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    margin-left: auto; /* adicionar esta propriedade */
    margin-right: auto; /* adicionar esta propriedade */
  }
  
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 8vh;
    width: 9vh;
}
  nav {
    display: flex;
    justify-content: space-between; /* trocar space-around por space-between */
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  main {
    background: url("fundo.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column; /* adicionar esta propriedade */
    align-items: center; /* adicionar esta propriedade */
    right: 100%;
  }
  .nav-list li {
    letter-spacing: 3px;
    margin-top: 16px; /* adicionar esta propriedade */
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }

  iframe {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: #23232e;
    opacity: 90%;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 2000px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      left: -168px;
      width: 30vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(-243px);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-right: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }